body {
    margin-top: 30px;
    background: #f5f5f5;
}

.btn-remove {
    margin-left: 10px;
}

.contact-list {
    padding: 20px;
    background-color: white;
}

.contact-item{
    transition: 0.3s;
    background: #f8f8f8;
}


.contact-item:hover {
    transform: scale(1.02);
    background-color: #f5f5f5 !important;
}

.well {
    background-color: white !important;
}
